.config/BraveSoftware/
.config/Code/
.config/Code - OSS/
.config/discord/
.config/google-chrome/
.config/Microsoft*/
.config/spotify/
.config/libreoffice/
.config/vlc/
.config/zed/
.config/bauh/
.config/balenaEtcher/
.config/Electron/
.config/teams/
